body{
    color: aliceblue;
    text-align: center;    
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;  

}

.button{
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-size: large;

}

.undline{
  border-bottom: 5px white solid;
}

#spacexlogo{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero{
  background-image: url(Space\ Science\ Tech\ GIF\ by\ European\ Space\ Agency\ -\ ESA.gif);
  background-size: cover;
  padding-bottom: 200px;
  text-shadow: 0px 0px 4px black;
}

.TandC{
  padding-top: 15px;
  color: black;
}